.social-login {
  margin: 1rem 0;
  display: flex;
  flex-flow: column;
  button {
    color: $white;
    font-size: 1rem;
    padding: 4px 1rem;
    i {
      padding-right: 4px;
    }
  }
  .social-login--github {
    background-color: $black;
  }
  .social-login--facebook {
    background-color: #3a5998;
  }
}
