$light-blue: #5dbeff;
$blue: #0398fc;
$dark-blue: #0f74b8;
$light-gray: #f5f5f5;
$light-grey: #f5f5f5;
$gray: #e0e0e0;
$grey: #e0e0e0;
$dark-gray: #b3b3b3;
$dark-grey: #b3b3b3;
$black: #444;
$white: #fff;
